body {
  background-color: #2c3442;
}
* {
  font-family: 'Raleway';
}
button {
  background: #384863;
  color:white;
  padding: 1.2em;
  width:300px;
  text-align:center;
  font-size: 24px;
  margin-bottom: 30px;
  border-color: #384863;
  cursor:pointer;
}
input{
  color: white;
}

